<div class="container" *ngIf=" users$ | async as users;">

  <h1>Elements:</h1>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action"
        [ngClass]="{ 'list-group-item-light': isEven, 'list-group-item-dark': isOdd }"
        *ngFor="let user of users; even as isEven; odd as isOdd;">
      <h3>{{ user.name }}</h3>
      <small>{{ user.createdAt | date: 'short' }}</small>
    </li>
  </ul>
</div>
